<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="header">
        <h1>Library Management System </h1>
        <div id="nav">
            <!-- <a href="{%url 'book_details' %}">View all</a> -->
            <a href="{%url 'book_details' %}">View all</a>
            <a href="{%url 'logout' %}">Logout</a>
           
            
           
        </div>
    </div>
    <div id="main">
        <h2>Search Book records</h2>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Book</th>
                <th>price</th>
                <th>Borrow date</th>
                <th>Return date</th>
                <th colspan="2">Action</th>
            </tr>
            {% for view in search %}
            <tr>
                <td>{{view.name}}</td>
                <td>{{view.book}}</td>
                <td>{{view.price}}</td>
                <td>{{view.borrow_date}}</td>
                <td>{{view.return_date}}</td>
                <td><a class="btn" href="{%url 'update_data' view.id %}">Update</a></td>
                <td>
                    <form action="{%url 'delete' view.id %}" method="POST">{% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        
    </div>
</body>
</html>